<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <% include partials/feedback/meta.ejs %>
</head>
<body class= "text-center"style="background-color: ">
    <% include partials/feedback/body.ejs %>
    <% include partials/feedback/footer.ejs %>
</body>
</html>