<!doctype html>
<html lang="en">
<head>
    <title>T</title>

    <% include partials/main/meta.ejs %>
   
</head>
<body class= "text-center"style="background-color: white">
    <% include partials/main/body.ejs %>

<% include partials/main/footer.ejs %>
   
</body>
</html>