<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <a href="/" class="masthead-brand"><img src="/images/tesla-logo.png" id="teslalogo" alt=""></a>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/ModelS">
                    <img src="/images/models.png" id="modelS" alt="">
                </a>
                <a class="nav-link active" href="/model3">
                    <img src="/images/model3.png" id="model3" alt="">
                </a>
                <a class="nav-link active" href="/modelX">
                    <img src="/images/modelX.png" id="modelX" alt="">
                </a>
                <a class="nav-link active " href="modelRoadster">
                    <img src="/images/modelRoadster.png" id="modelRoadster" alt="">
                </a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover">
        <video autoplay muted loop id="myVideo">
            <source src="/images/Tesla.webm" type="video/mp4">
        </video>
        <h1 class="cover-heading">Welcome To My Tesla Page. </h1>
        <p class="lead">Tesla, Inc. is an American automotive and energy company based in Palo Alto, California. The
            company specializes in electric car manufacturing and, through its SolarCity subsidiary, solar panel
            manufacturing.</p>
        <p class="lead">
            <a href="http://www.tesla.com/" class="btn btn-lg btn-secondary">Buy Now</a>
        </p>
    </main> 
    <footer class="mastfoot mt-auto">
        <div class="inner">
                <p> 
                    <a href="http://www.rigohernandez.me/">DigitalCrafts</a>
                    &nbsp;&nbsp;
                    <a href="/Feedback">Feedback</a>
                </p>
        </div>
    </footer>
</div>
